@use 'fonts';

$primary-color: #5B5B5B;
$secondary-color: #fff;
$accent-color: #303030;
$orange-color: #EB4E00;
$main-blue: #008993;
$bg-color: #efefef;
$body-font-family: "Noto serif", serif;
$first-sec-margin-destop: 80px;
$first-sec-margin-tablet: 60px;
$first-sec-margin-mobile: 30px;

$h2-size-desktop: 40px;
$h2-size-tablet: 35px;
$h2-size-mobile: 25px;
$h2-weight: 800;

$h3-size-desktop: 26px;
$h3-size-tablet: 22px;
$h3-size-mobile: 18px;
$h3-weight: 600;

$navButton-font-size-desktop: 16px;
$navButton-font-size-tablet: 16px;
$navButton-font-size-mobile: 14px;
$navButton-font-weight: 700;


