@use 'fonts';

$primary-color: #5B5B5B;
$secondary-color: #fff;
$accent-color: #303030;
$orange-color: #EB4E00;
$main-blue: #008993;
$bg-color: #efefef;
$body-font-family: "Noto serif", serif;
$subtle-gray :#e1e1e1a0;

$first-sec-margin-destop: 60px;
$first-sec-margin-tablet: 40px;
$first-sec-margin-mobile: 15px;

$second-sec-margin-mobile: 65px;
$second-sec-margin-tablet: 80px;
$second-sec-margin-desktop: 120px;

$inside-sec-margin-mobile: 40px;

$title-content-margin: 35px;

$h2-size-desktop: 35px;
$h2-size-tablet: 26px;
$h2-size-mobile: 22px;
$h2-weight: 800;

$h3-size-desktop: 25px;
$h3-size-tablet: 20px;
$h3-size-mobile: 18px;
$h3-weight: 600;

$Button-font-size-desktop: 20px;
$Button-font-size-tablet: 16px;
$Button-font-size-mobile: 12px;
$Button-font-weight: 700;

$nav-font-size-desktop: 19px;

$p-font-weight: 500;
$p-font-size-mobile: 14px;
$p-font-size-tablet: 17px;
$p-font-size-desktop: 19px;

