@use '../abstracts' as a;
  
  header {
      margin-top: 20px;
      padding: 0 20px 0 20px;
    //   background: linear-gradient(0deg, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      #logo {
        // background-color: aqua;
        a img {
          width: 70px
        }
      }
    }
    
    #hamburger{
      font-size: 32px;
      background: none;
      border: none;
      color: a.$primary-color;
      cursor: pointer;
    }
    
    #close {
        font-size: 32px;
        background: none;
        border: none;
        color: a.$secondary-color;
        cursor: pointer;
      }

    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.94);
      color: a.$secondary-color;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    
    //js에서 쓰기위해 css에서 정의
    .overlay.open {
      display: flex;
    }  
  
    #close {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    
    .overlay ul {
      list-style-type: none;
      text-align: center;
    }
    
    .overlay li {
      margin: 20px 0;
    }
    
    .overlay a {
      color: a.$secondary-color;
      font-size: 32px;
      text-decoration: none;
      font-weight: 600;
    }
    
    .overlay a:hover {
      color: a.$main-blue;
    }