@use '../abstracts' as a;

.collaborate {
  position: relative;
  top: 100px; // 유지
  z-index: 999;
  background-color: a.$accent-color;
  border-radius: 14px;
  color: a.$secondary-color;
  text-align: center;

  // 📌 좌우 여백 확보
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1200px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    font-size: a.$h2-size-mobile;
    margin: 0;
  }

  p {
    font-size: a.$p-font-size-mobile;
    margin: 0 0 20px 0;
    text-align: center;
  }

  .talk-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 10px 16px;
    border: 3px solid a.$main-blue;
    border-radius: 8px;
    font-size: a.$p-font-size-mobile;
    font-weight: a.$p-font-weight;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    transition: all 0.3s ease;

    // ✨ 호버 애니메이션 추가
    &:hover {
      background-color: a.$main-blue;
      transform: scale(1.05);
    }

    .talk-icon {
      color: a.$orange-color;
      margin-right: 10px;
      font-size: 1.2em;
    }
  }
}

// 반응형 디자인
@media screen and (min-width: 360px) {
  footer {
    background-color: a.$main-blue;
    color: #fff;
    padding: 150px 0 40px 0; //trbl
    text-align: center;
    font-size: 14px;
    position: relative;
  
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      p {
        font-weight: a.$p-font-weight;
        font-size: a.$p-font-size-tablet;
        margin: 5px 0;
      }

      .logo {
        margin: 0;
        padding: 0;

        a img { width: 70px }
      }

      .social-media {
        height: 35px;
        font-size: 30px;
        margin: 0;
        padding: 0;
  
        a {
          margin-right: 10px;
          color: a.$secondary-color; 
          text-decoration: none;
          transition: color 0.3s ease, transform 0.3s ease;
          i {
            &:hover {
              border-bottom: solid 3px a.$orange-color;
              transform: scale(1.2); /* Slightly enlarge the icon on hover */
            }
          }
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 768px) {
  footer {
    padding: 120px 0 50px 0; //trbl
  }

  .collaborate {
    top: 80px; // 유지
    padding: 60px 50px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    h2 {
      font-size: a.$h2-size-tablet;
    }

    p {
      font-size: a.$p-font-size-tablet;
      max-width: 400px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .collaborate {
    padding: 60px 80px;
    gap: 70px;
  }
}