@use '../abstracts' as a;

/*-- Mobile --*/
@media screen and (min-width: 480px) {
    #hamburger{
       display: flex;
       visibility: visible;
    }
    #desktop-nav {
       display: none;
    }
}

/*-- Tablet --*/
@media screen and (min-width: 768px) {
   #hamburger {
       display: none;
   }

   #desktop-nav {
       display: flex;
   }
}


/*-- Desktop --*/
@media screen and (min-width: 1200px) {
   #hamburger {
       display: none;
   }

   #desktop-nav {
       display: flex;
   }
}