@use '../abstracts' as a;

/* --- Main Nav --- */
#sticky-nav-con {
  // position: sticky;
  top: 0px;
  background-color: transparent;
}

#main-nav {
  .toggle_button {
    color: a.$secondary-color;
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin-top: -35px;
    /* 이걸로 위아래 위치 조정 */

    li {
      a {
        display: block;
        margin-right: 10px;
        font-size: 25px;
        text-align: center;
        color: #efefef;

        &:hover {
          color: a.$accent-color;
        }
      }
    }
  }
}

#mobile_dropdown_menu {
  display: none;
  position: absolute;
  right: -300px;
  top: 70px;
  width: 300px;
  height: 0px;
  background-color: rgb(18, 18, 18);
  overflow: hidden;
  transition: right 0.5s ease;

  li {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-items: center;

    a {
      color: a.$primary-color;
      font-size: 20px;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

/* Lightbox */
#burger-con {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: a.$main-blue;
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* Styling for the UL inside the lightbox */
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;

    li {
      a {
        color: white;
        font-weight: 900;
        font-size: 24px;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  /* Show lightbox when toggled */
  .show {
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

#close-btn {
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}


/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 480px) {

  #main-nav .toggle_button {
    display: block; /* Show hamburger button */
    color: black;
  }

  #logo {
      margin-top: 15%;
  }

  #mobile_dropdown_menu {
    display: none;
    position: fixed;
    right: -300px;
    top: 70px;
    width: 300px;
    height: 100vh;
    background-color: a.$main-blue;
    z-index: 1000;
    animation: slideIn 0.5s ease-in-out forwards;

    ul {
      li {
        a {
          color: a.$secondary-color;
        }
      }
    }
    
    .show {
      height: 100vh;
      display: block;
    }

    .hide {
      animation: slideOut 0.5s ease-in-out forwards;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateX(-100%);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 0;
    }
  }

  #burger-con {
    top: 0px;
    display: none; /* Hidden by default */
  }

  #burger-con ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #burger-con.show {
    display: flex; /* Display the lightbox when active */
  }

  /* Hide the regular nav menu outside the lightbox on mobile */
  #main-nav ul {
    display: none;
  }

  /* ------------ About page ------------ */
  #about-name {
      font-size: 40px;
      position: absolute;
      left: 5%;
      top: 23%;
      line-height: 70px;
  }
  
  #about-img {
      position: absolute;
      left: 30%;
      width: 320px;
  }

  #about-text {
      font-size: 14px;
      position: relative;
      top: 400px;
  }

  #about-text p {
    padding-right: 10px;
    padding-left: 10px;
  }

}  
/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  #main-header {
    height: 90px;
  }

  #main-nav ul li a:hover {
      color: #1E1E1E;
    }

    #main-nav {
      margin-top: 16%;
    }
  
  #main-nav ul li a {
    display: block;
    margin-right: 15px;
    font-size: 20px;
    text-align: center;
    color: #5B5B5B;
  }

  #main-nav .toggle_button {
    display: none;
  }
  #mobile_dropdown_menu {
    display: none;
  }

  #burger-con {
    display: flex; /* Display regular menu on larger screens */
    background-color: transparent; /* No lightbox for larger screens */
    position: relative;
    width: auto;
    height: auto;
  }

  #close-btn {
    display: none;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    /* margin-right: 30px; */
    font-size: 19px;
  }
  /* ------------ About page ------------ */
  #about-box {
    display: flex;
    margin-top: 5%;
  }

  #about-name {
      font-size: 65px;  
      position: absolute;
      left: 20%;
      top: 30%;
      line-height: 120px;
  }
  
  #about-img {
      position: absolute;
      left: 40%;
      width: 500px;
  }

  #about-text {
      font-size: 24px;
      position: relative;
      top: 620px;
  }

  #about-text p {
    padding-right: 10px;
    padding-left: 10px;
  }
  
}
/* hero-main */

/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  #main-header {
    height: 110px;
  }

  #logo {
      margin-top: 25%;
  }

  #main-nav {
    margin-top: 16%;
  }

  #main-nav ul {
      margin-left: 10px;
  }

  #main-nav ul li a {
      font-weight: 700;
  }

  #main-nav ul li {
    display: block;
    margin-right: 38px;
    font-size: 24px;
    text-align: center;
    color: #5B5B5B;

  }

  #main-nav ul li:last-child {
      margin-right: 0;
  }

  #close-btn {
    display: none; /* No close button on larger screens */
  }

  #burger-con {
    display: flex;
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
    font-size: 16px;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
  }

  #burger-con ul li {
    font-size: 22px;
  }
  /* ------------ About page ------------ */
  #about-box {
    display: flex;
    margin-top: 5%;
  }

  #about-name {
      font-size: 70px;
      position: absolute;
      left: 7%;
      top: 40%;
      line-height: 130px;
  }
  
  #about-img {
      position: absolute;
      left: 23%;
      width: 600px;
  }

  #about-text {
      font-size: 26px;
      position: absolute;
      width: 450px;
      right: 8%;
      top: 45%;
  }

  #about-text p {
    margin-bottom: 8%;
  }

  #about-text p:first-child {
    position: relative;
    right: 18%;
  }

  #about-text p:last-child {
    position: relative;
    left: 10%;
  }

}

