@use '../abstracts' as a;

/* --- Main Nav --- */
#sticky-nav-con {
  // position: sticky;
  top: 0px;
  background-color: transparent;
}

#main-nav {
  .toggle_button {
    color: a.$secondary-color;
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 40px;
    display: none;
  }

  ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin-top: -35px;
    /* 이걸로 위아래 위치 조정 */

    li {
      a {
        display: block;
        margin-right: 10px;
        font-size: 25px;
        text-align: center;
        padding: 10px 5px;

        &:hover {
          color: a.$accent-color;
        }

        &.active {
          border-bottom: 3.5px solid a.$orange-color;
          color: a.$accent-color;
          font-weight: 900;
        }
      }
    }
  }
}

#mobile_dropdown_menu {
  display: none;
  position: absolute;
  right: -300px;
  top: 70px;
  width: 300px;
  height: 0px;
  background-color: rgb(18, 18, 18);
  overflow: hidden;
  transition: right 0.5s ease;

  li {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-items: center;

    a {
      color: a.$primary-color;
      font-size: 20px;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

/* Lightbox */
#burger-con {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: a.$main-blue;
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  /* Styling for the UL inside the lightbox */
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;

    li {
      a {
        color: white;
        font-weight: 900;
        font-size: 24px;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  /* Show lightbox when toggled */
  .show {
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

#close-btn {
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}


/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 480px) {
  .case-study-body {
    margin-left: 35px;
    margin-right: 35px;
  }

  .Heading {
    font-size: 30px !important;
    color: a.$accent-color;
  }
  
  #main-nav .toggle_button {
    display: block; /* Show hamburger button */
    color: black;
  }

  #logo {
      margin-top: 15%;
  }

  #mobile_dropdown_menu {
    display: none;
    position: fixed;
    right: -300px;
    top: 70px;
    width: 300px;
    height: 100vh;
    background-color: a.$main-blue;
    z-index: 1000;
    animation: slideIn 0.5s ease-in-out forwards;

    ul {
      li {
        a {
          color: a.$secondary-color;
        }
      }
    }
    
    .show {
      height: 100vh;
      display: block;
    }

    .hide {
      animation: slideOut 0.5s ease-in-out forwards;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(0);
      opacity: 0;
    }
    to {
      transform: translateX(-100%);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }
    to {
      transform: translateX(0);
      opacity: 0;
    }
  }

  #burger-con {
    top: 0px;
    display: none; /* Hidden by default */
  }

  #burger-con ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #burger-con.show {
    display: flex; /* Display the lightbox when active */
  }

  /* Hide the regular nav menu outside the lightbox on mobile */
  #main-nav ul {
    display: none;
  }

  /* ------------ projects-box ------------ */
  // demo-reel-con
  #demo-reel-description {

    margin-top: 30px;

    #social-media-con {
      button {
        margin-right: 10px;
        padding: 4px 10px;
      }
    }

    h2 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 15px;
    }
  }

  #projects-box {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;

    div {

      margin-top: 20px;

      img {
        width: 100%;
        border-radius: 15px;;
        height: 250px;
      }

      .overlay {
      
        h3 {
          font-size: 30px;
        }

        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  /* ------------ About page ------------ */
  #about-con {

    #about-name {

      position: relative;
      top: 90px;
      left: 18px;
      
      h2 {
        font-size: 50px;
        line-height: 70px;
      }

      #about-name-icons {
        width: 90px;
        display: flex;
        column-gap: 8px;
        position: relative;
        top: 80px;
      }

    }

    #about-img {
      position: relative;
      top: -200px;
      right: -10px;
    }

    #about-text {
     position: relative;
     top: -180px;
     margin: 0 auto;
     padding: 0 10px;
    }
  }

  /* ------------ Quatro Page ------------ */
  #quatro-hero {
    margin-top: 30px;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 15px;
        }
    }


  #quatro-details-con {
    margin-top: 70px;
    display: block;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    p {
      font-size: 15px;
    }


    #quatro-team-year {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      column-gap: 100px;

    }
  }

  #what-I-did-con {
    padding: 0;
    h2 {
      font-size: 22px;
    }

    h2 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .what-I-did {
        margin-bottom: 40px;

        #front-end, #logo-design, #web-design, #label-design, #promotional-video {
          div {
            font-size: 15px;
          }
            display: flex;
            font-weight: 500;
            column-gap: 40px;
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }
    }
}

#design-principal-con {

  margin-top: 70px;

  #design-principal-box {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 30px;
  
   .design-principal {
  
      padding: 20px;
  
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 15px;
        padding: 0;
        margin: 0;
      }
   }
  }
}

#logo-specs-con {
  margin-top: 80px;

  .logo-specs-detail {
    &:first-child {
      margin-bottom: 30px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  }
}

#devices-con {
  margin-top: 80px;
  
  h2 {
    margin-bottom: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .entry-point {
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .entry-point-h3  {
    margin-bottom: 10px;
  }
}

#wireframingSketches {
  margin-top: 80px;
}

#branding-video-con {
  margin-top: 80px;

  h2{
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }
}

#wireframingSketches, #branding-video-con {
  h2 {
    margin-bottom: 20px;
  }
}

 /* ------------ Vybe Page ------------ */
 .vybe-hero {
  margin-top: 30px !important;
  text-align: center;
  
  #vybe-github {
      margin-top: 20px;
      font-size: 15px;
      }
  }


#vybe-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #vybe-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}

#slider-wrap {
  margin-top: 80px;
  
  #slider-heading {
    margin-bottom: 20px;
  }

  #poster-details {
    h2 {
      margin-bottom: 10px;
      margin-top: 30px;
    }
  
    h3 {
      margin-bottom: 10px;
    }
  }
}

/* ------------ Quatro Page ------------ */
  #quatro-hero {
    margin-top: 30px;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 15px;
        }
    }


  #quatro-details-con {
    margin-top: 70px;
    display: block;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    p {
      font-size: 15px;
    }


    #quatro-team-year {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      column-gap: 100px;

    }
  }
/* ------------ Industry Night Page ------------ */
#industry-hero {
  margin-top: 30px;
  text-align: center;
  
  button {
      margin-top: 20px;
      font-size: 15px;
      }
  }


#industry-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #industry-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}

 /* ------------ Demo Reel Page ------------ */
 .demo-hero {
  margin-top: 30px !important;
  text-align: center;
  }


#demo-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #demo-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}


.storyboard-img {
  img {
      margin-bottom: 30px;
  }
}

}  
/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  .case-study-body {
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .Heading {
    font-size: 30px !important;
  }

  body { margin-right: 10px; margin-left: 10px;}

  #main-header {
    height: 90px;
  }

    #main-nav {
      margin-top: 16%;
    }
  
  #main-nav ul li a {
    display: block;
    margin-right: 15px;
    font-size: 20px;
    text-align: center;
    color: #5B5B5B;
  }

  #main-nav .toggle_button {
    display: none;
  }
  #mobile_dropdown_menu {
    display: none;
  }

  #burger-con {
    display: flex; /* Display regular menu on larger screens */
    background-color: transparent; /* No lightbox for larger screens */
    position: relative;
    width: auto;
    height: auto;
  }

  #close-btn {
    display: none;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    /* margin-right: 30px; */
    font-size: 19px;
  }

  // Demo-reel
  #demo-reel-con {

    margin-top: 20px;
    #demo-reel-description {
      margin: 0;

      #social-media-con {

        margin-top: 10px;
        
        button {
          background-color: transparent;
          padding: 5px 10px;
          margin-right: 15px;
          font-weight: 500;
          font-size: 15px;
          margin-top: 10px;
          transition: all 0.3s ease;  // 부드러운 변화를 위한 트랜지션
  
          &:hover {
            background-color: a.$main-blue;
            color: #fff;
            border-radius: 10px;
            transform: scale(1.1);
          }
        }
      }

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }

  /* ------------ projects-box ------------ */
  #projects-box {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 60px;

    div {
      img {
        width: 100%;
        object-fit: cover;
        height: 250px; /* 이미지 높이 줄이기 */
      }

      .overlay {
        h3 {
          font-size: 30px;
        }

        p {
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }

  /* ------------ About page ------------ */
  #about-box {
    display: flex;
    margin-top: 5%;
  }

  #about-name {
      font-size: 65px;  
      position: absolute;
      left: 20%;
      top: 30%;
      line-height: 120px;
  }
  
  #about-img {
      position: absolute;
      left: 40%;
      width: 500px;
  }

  #about-text {
      font-size: 24px;
      position: relative;
      top: 620px;
  }

  #about-text p {
    padding-right: 10px;
    padding-left: 10px;
  }
  
   /* ------------ Quatro Page ------------ */
   #quatro-hero {
    margin-top: 60px !important;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 18px;
        }
    }

   #quatro-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }


    #quatro-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

    }
  }

  #what-I-did-con {
    padding: 0;
    h2 {
      font-size: 22px;
    }

    h2 {
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .what-I-did {
        margin-bottom: 40px;

        #front-end, #logo-design, #web-design, #label-design, #promotional-video {
          div {
            font-size: 18px;
          }
            display: flex;
            font-weight: 500;
            column-gap: 40px;
        }

        #logo-design, #web-design, #label-design, #promotional-video {
          div {
            position: relative;
            top: 12px
          }
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }
    }
  }

  #design-principal-con {

    margin-top: 80px;

    h2 {
      margin-bottom: 40px;
    }

    #design-principal-box {
      margin-top: 20px;
      flex-direction: column;
      row-gap: 30px;
    
     .design-principal {
    
        padding: 20px;
    
        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }
    
        p {
          font-size: 18px;
          padding: 0;
          margin: 0;
        }
     }
    }
  }

  #logo-specs-con {
    margin-top: 80px;

    h2 {
      margin-bottom: 40px;
    }

    .logo-specs-detail {
      &:first-child {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
    }
  }

  #devices-con {
    margin-top: 80px;
  
    h3 {
      font-size: 18px;
    }

    .entry-point {
      margin-bottom: 15px;
      margin-top: 50px;
    }
  
    .entry-point-h3 {
      margin-bottom: 15px;
    }
  }

  #wireframingSketches {
    margin-top: 80px;
  }
  
  /* ------------ Vybe Page ------------ */
  .vybe-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #vybe-github {
        margin-top: 20px;
        font-size: 18px;
        }
    }

   #vybe-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }


    #vybe-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

    }
  }

  #slider-wrap {
    margin-top: 80px;

    #poster-details {
      h2 {
        margin-bottom: 15px;
        margin-top: 50px;
      }
    
      h3 {
        margin-bottom: 15px;
      }
    }
  }

  /* ------------ Quatro Page ------------ */
  #industry-hero {
    margin-top: 60px !important;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 18px;
        }
    }

   #industry-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }

    #industry-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

      #industry {
        width: 170px;
      }
    }
  }

  /* ------------ Demo Reel Page ------------ */
  .demo-hero {
    margin-top: 60px !important;
    text-align: center;
    }

   #demo-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }


    #demo-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

    }
  }

  
.storyboard-img {
  img {
      margin-bottom: 40px;
  }
}
}


/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  .case-study-body {
    margin-left: 120px;
    margin-right: 120px;
  }

  .Heading {
    font-size: 40px !important;
  }

  body { margin-right: 80px; margin-left: 80px;}

  #main-header {
    height: 110px;
  }

  #logo {
      margin-top: 25%;
  }

  #main-nav {
    margin-top: 16%;
  }

  #main-nav ul {
      margin-left: 10px;
  }

  #main-nav ul li a {
      font-weight: 700;
  }

  #main-nav ul li {
    display: block;
    margin-right: 38px;
    font-size: 24px;
    text-align: center;
    color: #5B5B5B;

  }

  #main-nav ul li:last-child {
      margin-right: 0;
  }

  #close-btn {
    display: none; /* No close button on larger screens */
  }

  #burger-con {
    display: flex;
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
  }

  #burger-con ul li {
    font-size: 22px;
  }

  //Demo reel
  #demo-reel-con {

    margin-top: 30px;
    #demo-reel-description {

      margin-top: 30px;

      #social-media-con {

        button {
          background-color: transparent;
          padding: 5px 15px;
          margin-right: 20px;
          font-weight: 500;
          font-size: 18px;
          margin-top: 10px;
          transition: all 0.3s ease;  // 부드러운 변화를 위한 트랜지션
  
          &:hover {
            background-color: a.$main-blue;
            color: #fff;
            border-radius: 10px;
            transform: scale(1.1);
          }
        }
      }

      h2 {
        font-size: 24px;
        margin-bottom: 30px;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }

  /* ------------ projects-box ------------ */
  #projects-box {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 80px;
  
    div {

      position: relative; 
  
      img {
        object-fit: cover;
        width: 100%;
        height: 400px;
        border-radius: 15px;;
        margin-top: 40px;
        transition: transform 0.3s ease, filter 0.3s ease;
      }
  
      h3 {
        font-size: 40px !important;
      }
  
      p {
        font-size: 20px !important;
        font-weight: 500 !important;;
      }
    }
  }

  /* ------------ About page ------------ */
  #about-box {
    display: flex;
    margin-top: 5%;
  }

  #about-name {
      font-size: 70px;
      position: absolute;
      left: 7%;
      top: 40%;
      line-height: 130px;
  }
  
  #about-img {
      position: absolute;
      left: 23%;
      width: 600px;
  }

  #about-text {
      font-size: 26px;
      position: absolute;
      width: 450px;
      right: 8%;
      top: 45%;
  }

  #about-text p {
    margin-bottom: 8%;
  }

  #about-text p:first-child {
    position: relative;
    right: 18%;
  }

  #about-text p:last-child {
    position: relative;
    left: 10%;
  }

  /* ------------ Quatro Page ------------ */
  #quatro-hero {
    margin-top: 60px !important;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 19px;
        }
    }

  #quatro-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #quatro-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  #what-I-did-con {

    margin-top: 80px;

    .what-I-did {
      margin-bottom: 40px;

      #front-end, #logo-design, #web-design, #label-design, #promotional-video {
        div {
          font-size: 19px;
        }
          display: flex;
          font-weight: 500;
          column-gap: 40px;
      }

      #logo-design, #web-design, #label-design {
        div {
          font-size: 19px;
          position: relative;
          top: 12px
        }
      }

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

  #design-principal-con {

    margin-top: 80px;
  
    #design-principal-box {
      margin-top: 20px;
      flex-direction: row;
      column-gap: 60px;
    
     .design-principal {

        width: 400px;
        padding: 30px 40px;
    
        h3 {
          font-size: 22px;
          margin-bottom: 20px;
        }
    
        p {
          font-size: 19px;
          padding: 0;
          margin: 0;
        }
     }
    }
  }

  #logo-specs-con {
    margin-top: 100px;
  
    .logo-specs-detail {
      &:first-child {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 22px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 19px;
        padding: 0;
        margin: 0;
      }
    }
  }

  #devices-con {
    margin-top: 100px;

    p {
      font-size: 19px;
      margin-top: 10px;
    }

    .entry-point {
      margin-bottom: 20px;
      margin-top: 50px;
    }
  
    h3 {
      font-size: 20px;
    }

    .entry-point-h3 {
      margin-bottom: 20px;
    }
  }
  
  #wireframingSketches {
    margin-top: 100px;
  }


  /* ------------ Vybe Page ------------ */
  .vybe-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #vybe-github {
        margin-top: 20px;
        font-size: 19px;
        }
    }

  #vybe-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #vybe-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  #slider-wrap {
    margin-top: 100px;

    #poster-details {
      h2 {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 30px;
      }
    
      h3 {
        margin-bottom: 20px;
        font-size: 20px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  /* ------------ Industry Night Page ------------ */
  #industry-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #industry-github {
        margin-top: 20px;
        font-size: 19px;
        }
    }

  #industry-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #industry-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  
  /* ------------ Demo Reel Page ------------ */
  .demo-hero {
    margin-top: 60px !important;
    text-align: center;
    }

  #demo-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #demo-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }
    
.storyboard-img {
  img {
      margin-bottom: 50px;
  }
}
}

