@use '../abstracts' as a;

.Heading {
  font-size: 30px !important;
  color: a.$accent-color;
  margin-bottom: 20px;
}


/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 360px) {
  .case-study-body {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* ------------ Contact Page ------------ */
  #contact-me-con {
    margin-top: 40px;
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 20px;
    }
  }

  #contact-form-con {
    form {

      div {
        text-align: center;
        margin-top: 30px;

        button {
          padding: 10px 20px;
          font-size: 16px;
        }
      }
    }
  }

 /* ------------ Vybe Page ------------ */
 .vybe-hero {
  margin-top: 30px !important;
  text-align: center;
  
  #vybe-github {
      margin-top: 20px;
      font-size: 15px;
      }
  }


#vybe-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #vybe-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}

#slider-wrap {
  margin-top: 80px;
  
  #slider-heading {
    margin-bottom: 20px;
  }

  #poster-details {
    h2 {
      margin-bottom: 10px;
      margin-top: 30px;
    }
  
    h3 {
      margin-bottom: 10px;
    }
  }
}

/* ------------ Industry Night Page ------------ */
#industry-hero {
  margin-top: 30px;
  text-align: center;
  
  button {
      margin-top: 20px;
      font-size: 15px;
      }
  }


#industry-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #industry-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}

 /* ------------ Demo Reel Page ------------ */
 .demo-hero {
  margin-top: 30px !important;
  text-align: center;
  }


#demo-details-con {
  margin-top: 70px;
  display: block;

  h2{
    margin-bottom: 10px;
    font-size: 22px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }


  #demo-team-year {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;

  }
}


.storyboard-img {
  img {
      margin-bottom: 30px;
  }
}

#top-button {
  margin: 0 auto !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer !important;
  display: inline-block !important;
  max-width: 120px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* 애니메이션 전환 추가 */

  img {
    width: 100% !important;
    height: auto !important;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:hover img {
    opacity: 0.8; 
    transform: scale(1.1); 
  }
}

/* ---Tablet Library Grid Styles--- */
.thank-you-wrapper {


  .thank-you-message {
      width: 400px;
  }
}

}  


/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  .case-study-body {
    margin-left: 60px;
    margin-right: 60px;
  }

  body { margin-right: 10px; margin-left: 10px;}

  // Demo-reel
  #demo-reel-con {

    margin-top: 20px;
    #demo-reel-description {
      margin: 0;

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 20px;
      }
    }
  }
  
  /* ------------ Vybe Page ------------ */
  .vybe-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #vybe-github {
        margin-top: 20px;
        font-size: 18px;
        }
    }

   #vybe-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }


    #vybe-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

    }
  }

  #slider-wrap {
    margin-top: 80px;

    #poster-details {
      h2 {
        margin-bottom: 15px;
        margin-top: 50px;
      }
    
      h3 {
        margin-bottom: 15px;
      }
    }
  }

  /* ------------ Quatro Page ------------ */
  #industry-hero {
    margin-top: 60px !important;
    text-align: center;
    
    button {
        margin-top: 20px;
        font-size: 18px;
        }
    }

   #industry-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }

    #industry-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

      #industry {
        width: 170px;
      }
    }
  }

  /* ------------ Demo Reel Page ------------ */
  .demo-hero {
    margin-top: 60px !important;
    text-align: center;
    }

   #demo-details-con {
    display: flex;
    column-gap: 90px;

    h2{
      margin-bottom: 10px;
      font-size: 22px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 19px;
    }

    p {
      font-size: 18px;
    }


    #demo-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 50px;

    }
  }

  
.storyboard-img {
  img {
      margin-bottom: 40px;
  }
}

/* ---Tablet Library Grid Styles--- */
.thank-you-wrapper {

  .thank-you-message {
      width: 400px;
  }
}

}


/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  .case-study-body {
    margin-left: 90px;
    margin-right: 90px;
  }

  body { margin-right: 80px; margin-left: 80px;}
  
  //Demo reel
  #demo-reel-con {

    margin-top: 30px;
    #demo-reel-description {

      margin-top: 30px;
      
      h2 {
        font-size: 24px;
        margin-bottom: 30px;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
  }

  /* ------------ Vybe Page ------------ */
  .vybe-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #vybe-github {
        margin-top: 20px;
        font-size: 19px;
        }
    }

  #vybe-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #vybe-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  #slider-wrap {
    margin-top: 100px;

    #poster-details {
      h2 {
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 30px;
      }
    
      h3 {
        margin-bottom: 20px;
        font-size: 20px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  /* ------------ Industry Night Page ------------ */
  #industry-hero {
    margin-top: 60px !important;
    text-align: center;
    
    #industry-github {
        margin-top: 20px;
        font-size: 19px;
        }
    }

  #industry-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #industry-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  
  /* ------------ Demo Reel Page ------------ */
  .demo-hero {
    margin-top: 60px !important;
    text-align: center;
    }

  #demo-details-con {
    padding: 0 20px;
    display: flex;
    column-gap: 100px;

    h2{
      margin-bottom: 10px;
      font-size: 24px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
    }

    p {
      font-size: 19px;
    }

    #demo-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }
    
.storyboard-img {
  img {
      margin-bottom: 50px;
  }
}
}

