@use '../abstracts' as a;

// ---------- Default ------------- //
.project-hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}


.project-details-con {
  //  background-color: aquamarine;
   
    h2 {
        color: a.$main-blue;
    }

    h3 {
        color: a.$orange-color;
    }
}

//  Github Button 
.project-github {
  padding: 10px 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: a.$main-blue; /* 버튼 색상 */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
  background-color: a.$orange-color; /* hover 색상 */
  transform: scale(1.05); /* 확대 효과 */
  }

  &:active {
  transform: scale(0.95); /* 클릭 효과 */
  }
}

.des-con {
  p {
    margin-bottom: 10px !important;
    &:last-child { margin-bottom: 0; }
  }
}

.emoji-des-con-desktop { padding: 0; }

.emoji-des-con-mobile { padding: 0; }

#design-principal-box {
    display: flex;
}

p {
  font-weight: 500;
  text-align: left;
}

.Heading {
  font-size: 32px !important;
  color: a.$accent-color;
  margin-bottom: 20px;
}

// Bigest Heading With Line
.heading-line {
  // background-color: blueviolet;
  margin-top: a.$second-sec-margin-mobile;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 100%;

  h2, img, div { padding:0; margin: 0; }
  
  h2 {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      font-family: "Times New Roman", serif;
      font-style: italic;
      width: 60px;
    }
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
}

// Second Heading with gray color
.sub-heading {
  margin-bottom: 15px;
  font-size: a.$h2-size-mobile;
  padding: 0;
}

// Inside Title 
.mini-heading {
  font-size: a.$h3-size-mobile;
  margin-bottom: 5px;
  padding: 0;
}


.blue-box {
  background-color: #D7F3F5;
}

.entry-point {
  color: a.$main-blue !important;
}

.entry-point-h3 {
  color: a.$orange-color !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  font-weight: 500;
}


#devices-con {
  // background-color: aquamarine;
  padding: 0;


  #devices-con-img-box {
      background: cover no-repeat;
  }

  .device-top-h3 {
      color: a.$primary-color !important;
      span {
          color: a.$main-blue;
      }
  }

p {
  font-weight: 500;
}
}

#wireframingSketches {
// background-color: bisque;
padding: 0;
}

#branding-video-con {
// background-color: aquamarine;
padding: 0;
}


/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 360px) {
  .case-study-body {
    margin-left: 20px;
    margin-right: 20px;
  }

  section { padding: 15px !important; }

  .blue-box {
    padding: 20px;
  } 

  .project-github {
    margin-top: 20px;
    font-size: a.$Button-font-size-mobile;
  }


  .project-details-con {
    margin-top: a.$first-sec-margin-mobile;

    h3 {
      margin-bottom: 10px;
      font-size: a.$h3-size-mobile; // Subtitle 사이즈임 오렌지색색
    }

    p {
      font-size: a.$p-font-size-mobile;
    }


    .project-team-year {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      column-gap: 100px;
    }
}

#what-I-did-con {
    margin-top: a.$second-sec-margin-mobile;
    padding: 0;

    .what-I-did {
        margin-bottom: 40px; // 이모지간 간극
        &:last-child { margin-bottom: 0;}

        #front-end, #logo-design, #web-design, #label-design, #promotional-video {
          div {
            font-size: a.$p-font-size-mobile;
          }
            display: flex;
            font-weight: 500;
            column-gap: 40px;
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }
    }
}

.research-con {
  p{
    font-size: a.$p-font-size-mobile;
  }
}

.target-audience-con {
  margin-top: a.$inside-sec-margin-mobile;
}

.emoji-des-con-desktop {
  display: none;
}

.emoji-des-con-mobile { 
  display: flex; 
  flex-direction: column;

  .emoji-con-mobile {
    display: flex;
    width: 100%;

    img {
      width: 25%;
    }
  }
}

.des-con {
  p {
    margin-bottom: 5px;
  }&:last-child {
    margin-bottom: 0;
  }
}

#design-principal-con {
  p { font-size: a.$p-font-size-mobile; }

  #design-principal-box {
    flex-direction: column;
    row-gap: 30px;
  }
}

#logo-specs-con {
  margin-top: a.$inside-sec-margin-mobile;
  p { font-size: a.$p-font-size-mobile; }
}

#entry-con { margin-top: a.$inside-sec-margin-mobile; }

#devices-con {
    margin-top: a.$inside-sec-margin-mobile;
    p { font-size: a.$p-font-size-mobile; }
  
    .device-top-h3 {
      font-size: a.$h3-size-mobile; //디바이스 사진 위에 있는 h3태그임. entry-h3아니라
    }
}

#devices-con-img-box { margin-bottom: a.$inside-sec-margin-mobile; }

#wireframingSketches { margin-top: a.$inside-sec-margin-mobile; }




/* ------------ Contact Page ------------ */
  #contact-me-con {
    margin-top: 40px;
    margin-bottom: 40px;

    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 20px;
    }
  }

  #contact-form-con {
    form {

      div {
        text-align: center;
        margin-top: 30px;

        button {
          padding: 10px 20px;
          font-size: 16px;
        }
      }
    }
  }

// Top Button
#top-button {
  margin: 0 auto !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer !important;
  display: inline-block !important;
  max-width: 120px;
  transition: transform 0.3s ease, opacity 0.3s ease; /* 애니메이션 전환 추가 */

  img {
    width: 100% !important;
    height: auto !important;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:hover img {
    opacity: 0.8; 
    transform: scale(1.1); 
  }
}

.thank-you-wrapper {


  .thank-you-message {
      width: 400px;
  }
}

}  


/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  .case-study-body {
    margin-left: 90px;
    margin-right: 90px;
  }

  section { padding: 30px !important; }

  p { font-size: a.$p-font-size-tablet !important; }
  .what-I-did-p { font-size: a.$p-font-size-tablet !important; }

  .project-github {
    margin-top: 20px;
    font-size: a.$Button-font-size-tablet;
  }


  .project-details-con {
    
    .project-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      column-gap: 50px;

    }
  }

  #what-I-did-con {
    padding: 0;

    .what-I-did {  
        #front-end, #logo-design, #web-design, #label-design, #promotional-video {
            display: flex;
            font-weight: 500;
            column-gap: 40px;
        }

        #logo-design, #web-design, #label-design, #promotional-video {
          div {
            position: relative;
            top: 12px
          }
        }

        img {
          max-width: 50px;
          max-height: 50px;
        }
    }
  }

  // Research Section
  .emoji-des-con-desktop {
    display: grid;

    .emoji-con-desktop {
        display: flex;
        align-items: center; // 이모지를 중앙 정렬

        .emoji-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr); // 2x2 그리드 설정
            grid-template-rows: repeat(2, auto);
            gap: 10px; // 이미지 간격 조절
            width: max-content; // 이미지 크기만큼만 공간 차지
        }
    }

  }


  .emoji-des-con-mobile { display: none; }

  .emoji-con-mobile { display: none; }


  #design-principal-con {

    // margin-top: 80px;

    #design-principal-box {
      margin-top: 20px;
      flex-direction: column;
      row-gap: 30px;
    
     .design-principal {
    
        padding: 20px;
    
        h3 {
          margin-bottom: 10px;
        }
    
        p {
          padding: 0;
          margin: 0;
        }
     }
    }
  }



/* ---Tablet Library Grid Styles--- */
.thank-you-wrapper {

  .thank-you-message {
      width: 400px;
  }
}

}


/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  .case-study-body {
    margin-left: 180px;
    margin-right: 180px;
  }

  .project-github {
    margin-top: 20px;
  }
  
  .project-details-con {
    
    h2{
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 10px;
    }


    .project-team-year {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 70px;

    }
  }

  #what-I-did-con {

    // margin-top: 80px;

    .what-I-did {

      #front-end, #logo-design, #web-design, #label-design, #promotional-video {
          display: flex;
          font-weight: 500;
          column-gap: 40px;
      }

      #logo-design, #web-design, #label-design {
        div {
          position: relative;
          top: 12px
        }
      }

      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

  .emoji-des-con-mobile { display: none; }

  #design-principal-con {
  
    #design-principal-box {
      margin-top: 20px;
      flex-direction: row;
      column-gap: 60px;
    
     .design-principal {

        width: 400px;
        padding: 30px 40px;
    
        h3 {
          margin-bottom: 20px;
        }
    
        p {
          padding: 0;
          margin: 0;
        }
     }
    }
  }   
}

