// Nav styles (burger menu, toggle button)

#sticky-nav-con {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: transparent;
  }
  
  #main-nav {
    button {
      width: 20px;
      height: 20px;
      background: url(../images/burger.svg) no-repeat center;
      margin: 22px 0 20px 30px;
      border: 0;
      @include transition(all, 0.5s, ease);
    }
    
    .toggle_button {
      color: $white;
      font-size: 30px;
      cursor: pointer;
      margin-left: 40px;
      display: none;
    }
  
    button.expanded {
      transform: rotate(90deg);
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin-top: -35px; // Adjusts vertical positioning
    }
  
    ul li a {
      display: block;
      margin-right: 10px;
      font-size: 25px;
      text-align: center;
      color: $primary-color;
    }
  
    ul li a:hover {
      color: $dark-color;
    }
  }