@use '../abstracts' as a;

#about-con {

  #about-name {
    h2 {
      color: a.$accent-color;
    }
  }

  #about-text {
    p {
      font-weight: 500;
    }
  }
}

#skills-con {
  h2 {
    color: a.$main-blue;
  }
  #skill-box {
    display: flex;
    .skill-details {
      h3 {color: a.$orange-color;}
      p { font-weight: 600;}
    }
  }
}