@use '../abstracts' as a;

#about-con {

  #about-name {
    h2 {
      color: a.$accent-color;
    }
  }

  #about-text {
    p {
      font-weight: 500;
    }
  }
}

#skills-con {
  .skills-boxes {
    h3 {color: a.$orange-color;}
  }
}