@use '../abstracts' as a;

/*-------------- Default  --------------*/
body {
  margin: 0;
  padding: 0;
}

/*-- Profile Con --*/
#profile-con {
  text-align: center;
  h2 {
    color: a.$accent-color;
    font-weight: a.$h2-weight;
    margin: 0;
  }

  h3 {
    color: a.$primary-color;
    font-weight: a.$h3-weight;
  }

  #professional-sns-box{
    button {
      background-color: transparent;
      border: solid 3px a.$main-blue;
      border-radius: 10px;
      font-family: a.$body-font-family;
      font-weight: a.$Button-font-weight;
      color: a.$main-blue;
      transition: all 0.3s ease;
      padding: 5px 10px; 

      &:hover {
        background-color: a.$main-blue;
        color: #fff;
        border-radius: 10px;
        transform: scale(1.1);
      }
    }
  }
}


/*-- Project Con --*/
#projects-con {

  #project-heading {
    color: a.$main-blue;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
  }

  div {
    position: relative; /* overlay를 위해 position 설정 */

    img {
      border-radius: 1.5;
      transition: transform 0.3s ease, filter 0.3s ease; /* 애니메이션 추가 */
    }

    .overlay {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0; /* 기본적으로 숨김 */
      transition: opacity 0.3s ease;
      border-radius: 15px;; /* 이미지와 동일한 모서리 둥글기 */
    }

    &:hover {
      img {
        border-radius: 1.5;
        transform: scale(1.1); /* 이미지 확대 */
        filter: brightness(20%); /* 이미지 밝기 감소 */
      }

      .overlay {
        opacity: 1; /* 텍스트와 배경 보이기 */
      }
    }

    p {
      border: 3px solid a.$main-blue;
      border-radius: 15px;
      padding: 5px 18px;
      margin-top: 10px;
    }
  }
 
  #professional-sns-box{
    button {
      margin-right: 10px;
      padding: 4px 10px;
    }
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  p {
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 15px;
  }
}

  #projects-con {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;

    #project-heading {
      margin-bottom: 40px !important;
    }
    div {

      margin-top: 60px;

      &:nth-of-type(1) {
        margin-top: 0 !important;
      }

      img {
        width: 100%;
        border-radius: 15px;;
        height: 250px;
      }

      .overlay {
      
        h3 {
          font-size: 30px;
        }

        p {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  
}

/*-- About Con --*/ 
#about-con {
  background-color: a.$main-blue;
  color: a.$secondary-color;
  display: flex;

  #profile-text {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      padding: 0;
    }

    .social-media {
      a {
        color: a.$secondary-color; 
        text-decoration: none;
        transition: color 0.3s ease, transform 0.3s ease;
        i {
          &:hover {
            border-bottom: solid 3px a.$orange-color;
            transform: scale(1.2); /* Slightly enlarge the icon on hover */
          }
        }
      }
    }
  }
}

/*-------------- Media Queries  --------------*/
/*-- Mobile --*/
@media screen and (min-width: 360px) {
  /*-- Profile Con --*/  
  #profile-con {
    margin-top: a.$first-sec-margin-mobile;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-mobile;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-mobile;
      margin: 20px 0;
    }
  
    #professional-sns-box{
      display: block;
      button {
        font-size: a.$Button-font-size-mobile;
        margin-right: 5px;
      }
    }
  }

  /*-- About Con --*/
  #about-con {
    margin-top: a.$second-sec-margin-mobile;
    padding: 25px 6px;

    #profile-pic-box {
      img {
        max-width: 140px;
      }
    }

    #profile-text {
      row-gap: 8px;

      #full-name {
        font-size: a.$h2-size-mobile;
      }

      p {
        font-size: a.$p-font-size-mobile;
        font-weight: a.$p-font-weight-mobile;
      }

      .social-media {
        font-size: a.$h3-size-mobile;

        a{
          margin-right: 6px;
        }
      }
    }
  }
}

/*-- Tablet --*/
@media screen and (min-width: 768px) {
  #profile-con {
    margin-top: a.$first-sec-margin-tablet;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-tablet;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-tablet;
      margin: 30px 0;
    }
  
    #professional-sns-box{
      button {
        font-size: a.$Button-font-size-tablet;
        margin-right: 20px;
      }
    }
  }

  /*-- About Con --*/
  #about-con {
    margin-top: a.$second-sec-margin-table;
    padding: 0 50px;

    #profile-pic-box {
      position: relative;
      bottom: 40px;
      img {
        max-width: 310px;
      }
    }

    #profile-text {
      row-gap: 16px;
      margin-top: 30px;

      #full-name {
        font-size: 45px;
      }

      p {
        font-size: a.$p-font-size-tablet;
        font-weight: a.$p-font-weight-tablet;
      }

      .social-media {
        font-size: 30px;
      }
    }
  }
}
  
/*-- Desktop --*/
@media screen and (min-width: 1200px) {
  #profile-con {
    margin-top: a.$first-sec-margin-destop;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-desktop;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-desktop;
      margin: 30px 0;
    }
  
    #professional-sns-box{
      button {
        font-size: a.$Button-font-size-desktop;
        margin-right: 20px;
      }
    }
  }
}



// Resume
#resume {
  text-align: center;
  margin: 100px 0;

  h2 {
    color: a.$accent-color;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .download-btn {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: a.$main-blue; /* 버튼 색상 */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: a.$orange-color; /* hover 색상 */
      transform: scale(1.05); /* 확대 효과 */
    }

    &:active {
      transform: scale(0.95); /* 클릭 효과 */
    }
  }
}




