@use '../abstracts' as a;

/*-------------- Default  --------------*/
body {
  margin: 0;
  padding: 0;
}

/*-- Profile Con --*/
#profile-con {
  text-align: center;
  h2 {
    color: a.$accent-color;
    font-weight: a.$h2-weight;
    margin: 0;
  }

  h3 {
    color: a.$primary-color;
    font-weight: a.$h3-weight;
  }

  #professional-sns-box{
    button {
      background-color: transparent;
      border: solid 3px a.$main-blue;
      border-radius: 10px;
      font-family: a.$body-font-family;
      font-weight: a.$Button-font-weight;
      color: a.$main-blue;
      transition: all 0.3s ease;
      padding: 5px 10px; 

      &:hover {
        background-color: a.$main-blue;
        color: #fff;
        border-radius: 10px;
        transform: scale(1.1);
      }
    }
  }
}

/*-- About Con --*/ 
#about-con {
  background-color: a.$main-blue;
  color: a.$secondary-color;
  display: flex;
  
  #profile-text {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      padding: 0;
      font-weight: a.$p-font-weight;
    }

    .social-media {
      a {
        color: a.$secondary-color; 
        text-decoration: none;
        transition: color 0.3s ease, transform 0.3s ease;
        i {
          &:hover {
            border-bottom: solid 3px a.$orange-color;
            transform: scale(1.2); /* Slightly enlarge the icon on hover */
          }
        }
      }
    }
  }
}

/*-- Skill Con --*/
#skill-con {
  display: flex;
  border: 2px solid a.$subtle-gray;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  #skill-first-row,#skill-second-row,#skill-third-row {
    background: a.$secondary-color;
    border-radius: 15px;
  }

  .skill-heading {
    font-weight: a.$h2-weight;
    color: a.$accent-color !important;
  }

  .sub-heading-blue {
    font-weight: a.$h2-weight;
    color: a.$main-blue;
  }

  p {
    font-weight: a.$p-font-weight;
  }
}

/*-- Project Con(case study) -*/
#projects-con {
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;

  .header {
    width: 100%;
    margin-bottom: a.$title-content-margin;
  }

  #project-heading {
    font-weight: a.$h2-weight;
    color: a.$accent-color;
    margin: 0;

    @media (min-width: 380px) {
     font-size: a.$h2-size-mobile;
    }

    @media (min-width: 780px) {
      font-size: a.$h2-size-tablet;
     }
  }

  #project-sub-heading {
    color: a.$primary-color;
    margin: 0;
    
    @media (min-width: 380px) {
      font-size: a.$h3-size-mobile;
     }
 
     @media (min-width: 780px) {
       font-size: a.$h3-size-tablet;
      }
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 감싸기 */
    justify-content: space-between; /* 아이템 사이 간격을 조정 */
    gap: 20px;
    margin-top: 20px;

    @media (max-width: 380px) {
      flex-direction: column; /* 모바일에서 한 줄에 한 개씩 배치 */
      justify-content: flex-start; /* 위에서부터 차례대로 배치 */
    }

    @media (min-width: 768px) {
      justify-content: space-between; /* 태블릿에서 2개씩 배치 */
      flex-direction: row;
    }

    @media (min-width: 1024px) {
      justify-content: space-between; /* 데스크탑에서 2개씩 배치 */
    }
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 10px); /* 기본적으로 두 개씩 배치, 양쪽 여백을 고려 */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px; /* 카드 간 간격 */

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    }

    .project_link {
      width: 100%;
      display: block;
    }

    .thumbnail_image {
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      transition: transform 0.3s ease;
    }

    &:hover .thumbnail_image {
      transform: scale(1.05);
    }

    .description {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: #f4f4f4;
      width: 100%;
      height: 100%;
      text-align: left;
      color: #333;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      position: relative;

      .title {
        //background-color: blueviolet;
        font-size: 20px;
        font-weight: bold;
        color: a.$accent-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 5px;
        width: auto;
        text-align: left;
        padding-right: 10px;
        padding-bottom: 5px;
        border-bottom: 3px solid a.$main-blue;
      }

      .info {
        width: auto;
        display: flex;
        flex-direction: column; /* 수직 정렬 */
        align-items: flex-end; /* 오른쪽 끝으로 배치 */
        text-align: right; /* 오른쪽 정렬 */

        .year {
          font-size: 14px;
          font-weight: bold;
          color: a.$orange-color;
          margin-bottom: 5px;
        }

        .short_description {
          font-size: 14px;
          font-weight: a.$p-font-weight;
          background-color: rgba(0, 0, 0, 0.1);
          line-height: 1.4;
          margin-top: 5px;
          padding: 4px 8px;
          border-radius: 8px;
        }
      }
    }
  }

  /* 모바일에서 프로젝트 카드 너비 100% 설정 */
  @media (max-width: 767px) {

    .project-card {
      width: 100%;
    }
  }
}



/*-- Testimonials Con --*/
#testimonial-con {
   text-align: center;
   position: relative;
   bottom: 100px;

  p {font-weight: a.$p-font-weight;}

  h2 {
    color: a.$accent-color;
  }

  #testimonial-subtitle {
    color: a.$primary-color;
    margin-bottom: a.$title-content-margin;
  }

  #testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .testimonial-card {
    display: none;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &.active {
      display: block;
    }

    .big-quote-mark {
      font-size: 3em;
      margin: 0;
      //background-color: blueviolet;
      padding: 5px 0 0 20px; //trbl
      color: a.$main-blue;
      text-align: left;
      justify-self: left;
      display: block;
      
    }

    // Testimonial author
    .testimonial-author {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;

      img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-right: 15px;
        margin-bottom: 10px;
      }

      .author-info {
        h3 {
          margin: 5px 0 10px 0; //trbl
          color: a.$main-blue;
        }

        p {
          margin: 0;
        }
      }
    }

    #divider {
      width: 85%;
      border-bottom: 2px solid a.$subtle-gray;
      margin: 30px 0 30px 0; //trbl
      display: flex;
      justify-self: center;
    }


    // Blockquote
    blockquote {
      position: relative;
      font-style: italic;
      line-height: 1.5;
      margin: 0 20px 20px 20px; //trbl
    
    .quote-mark {
      color: a.$orange-color;
      }
    }
  }

  // Navigation dots
  .dots {
    margin-top: a.$title-content-margin;
    display: inline-block; /* .dots 요소가 인라인 블록으로 처리되어 가운데 정렬 */
  }
  
  .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: a.$subtle-gray;
    border-radius: 50%;
    cursor: pointer;
  
    &.active {
      background-color: a.$orange-color;
    }
  }
}

/*-------------- Media Queries  --------------*/
/*-- Mobile --*/
@media screen and (min-width: 360px) {

  /*-- Profile Con --*/  
  #profile-con {
    margin-top: a.$first-sec-margin-mobile;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-mobile;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-mobile;
      margin: 20px 0;
    }
  
    #professional-sns-box{
      display: block;
      button {
        font-size: a.$Button-font-size-mobile;
        margin-right: 5px;
      }
    }
  }

  /*-- About Con --*/
  #about-con {
    margin-top: a.$second-sec-margin-mobile;
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;
    column-gap: 10px;
    display: block;

    #profile-pic-box {
      text-align: center;
      position: relative;
      bottom: 70px;
      img {
        max-width: 190px;
      }
    }

    #profile-text {
      row-gap: 20px;
      text-align: center;
      position: relative;
      bottom: 110px;

      #full-name {
        font-size: 35px;
      }

      p {
        font-size: a.$p-font-size-mobile;
      }

      .social-media {
        height: 35px;
        font-size: a.$h2-size-mobile;
        a{
          margin-right: 10px;
        }
      }
    }
  }

  /*-- Skill Con --*/
  #skill-con {
    flex-direction: column;
    position: relative;
    bottom: 100px;
    margin: 0 40px;

    .skill-divider-online {
      border-bottom: 2px solid a.$subtle-gray;
    }

    #skill-first-row {
      border-bottom-left-radius: 0; /* 왼쪽 아래 모서리 제거 */
      border-bottom-right-radius: 0; /* 오른쪽 아래 모서리 제거 */
    }

    #skill-second-row { 
      border-radius: 0;
    }

    #skill-third-row {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    #skill-first-row, #skill-second-row, #skill-third-row {
      text-align: center;
      padding-bottom: 30px;

      img {
        max-width: 80px;
        margin-top: 30px; 
        margin-bottom: 20px;
      }

      .skill-heading {
        margin-bottom: 20px;
        font-size: a.$h2-size-mobile;
        padding: 0;
      }

      .sub-heading-blue {
        font-size: a.$h3-size-mobile;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
        font-size: a.$p-font-size-mobile;
      }
    }

    
    #designing-tools, #front-dev-tools, #front-libraries,
    #back-dev-tools, #back-libraries {
      margin-top: 30px;
    }
  }

  /*-- Testimonials Con --*/
  #testimonial-con {
      text-align: center;

    h2 {
      font-size: a.$h2-size-tablet;
    }

    #testimonial-subtitle {
      font-size: a.$h3-size-mobile;
    }
  }
}

/*-- Tablet --*/
@media screen and (min-width: 768px) {
  #profile-con {
    margin-top: a.$first-sec-margin-tablet;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-tablet;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-tablet;
      margin: 30px 0;
    }
  
    #professional-sns-box{
      button {
        font-size: a.$Button-font-size-tablet;
        margin-right: 20px;
      }
    }
  }

  /*-- About Con --*/
  #about-con {
    margin-top: a.$second-sec-margin-tablet;
    padding: 25px 50px;
    column-gap: 40px;
    display: flex;

    #profile-pic-box {
      position: relative;
      bottom: 80px;
      img {
        max-width: 300px;
        display: block;
      }
    }

    #profile-text {
      row-gap: 16px;
      margin-top: 30px;
      text-align: left;
      position: relative;
      bottom: 0;

      #full-name {
        font-size: 40px;
      }

      p {
        font-size: a.$p-font-size-tablet;
      }

      .social-media {
        font-size: 30px;
      }
    }
  }

  /*-- Skill Con --*/
  #skill-con {
    flex-direction: row;
    position: relative;
    bottom: 130px;
    padding: 0;
    background-color: a.$secondary-color;
    border-radius: 15px;

    .skill-divider-online {
      border-right: solid 2px a.$subtle-gray;
    }

    #skill-first-row, #skill-second-row, #skill-third-row {
      text-align: center;
      padding-bottom: 30px;
      width: 100%;
      border-radius: 15px; /* 전체 모서리를 둥글게 */
  
      img {
        max-width: 80px;
        margin-top: 40px; 
        margin-bottom: 30px; 
      }

      .skill-heading {
        margin-bottom: 30px;
        font-size: a.$h2-size-mobile;
        padding: 0 30px;
      }

      .sub-heading-blue {
        margin-bottom: 30px;
        font-size: a.$p-font-size-tablet;
      }

      p {
        margin-bottom: 10px;
        font-size: a.$p-font-size-tablet;
      }
    }
  }

  /*-- Project Con(case study) --*/

}
  
/*-- Desktop --*/
@media screen and (min-width: 1200px) {
  #profile-con {
    margin-top: a.$first-sec-margin-destop;
  
    h2 {
      font-weight: a.$h2-weight;
      font-size: a.$h2-size-desktop;
    }
  
    h3 {
      font-weight: a.$h3-weight;
      font-size: a.$h3-size-desktop;
      margin: 30px 0;
    }
  
    #professional-sns-box{
      button {
        font-size: a.$Button-font-size-desktop;
        margin-right: 20px;
      }
    }
  }

  /*-- About Con --*/
  #about-con {
    margin-top: a.$second-sec-margin-desktop;
    padding: 25px 140px;
    column-gap: 50px;

    #profile-pic-box {
      position: relative;
      bottom: 90px;
      img {
        max-width: 400px;
      }
    }

    #profile-text {
      row-gap: 36px;
      margin-top: 30px;

      #full-name {
        font-size: 50px;
      }

      p {
        font-size: a.$p-font-size-desktop;
      }

      .social-media {
        font-size: 40px;
      }
    }
  }  
 
  /*-- Skill Con --*/
    #skill-con {
      flex-direction: row;
      position: relative;
      bottom: 210px;
      padding: 0;
      background-color: a.$secondary-color;
      margin: 0 100px;
  
      .skill-divider-online {
        border-right: solid 2px a.$subtle-gray;
      }

      #skill-first-row, #skill-second-row, #skill-third-row {
        text-align: center;
        padding-bottom: 30px;
        width: 100%;
  
        img {
          max-width: 80px;
          margin-top: 40px; 
          margin-bottom: 30px; 
        }
  
        .skill-heading {
          margin-bottom: 30px;
          font-size: a.$h2-size-mobile;
        }
  
        .sub-heading-blue {
          margin-bottom: 30px;
          font-size: a.$p-font-size-desktop;
        }
  
        p {
          margin-bottom: 10px;
          font-size: a.$p-font-size-desktop;
        }
      }
    }

  /*-- Project Con(case study) --*/

}





