@use '../abstracts' as a;

p {
  font-weight: 500;
  text-align: left;
}

.sub-heading {
  margin-bottom: 10px;
  font-size: 22px;
}

.heading-line {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;

  h2 {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      font-family: "Times New Roman", serif;
      font-style: italic;
      width: 60px;
    }
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
  }
}


.blue-box {
  background-color: #D7F3F5;
}

#quatro-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    button {
        padding: 10px 15px;
        font-weight: bold;
        color: #ffffff;
        background-color: a.$main-blue; /* 버튼 색상 */
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
        background-color: a.$orange-color; /* hover 색상 */
        transform: scale(1.05); /* 확대 효과 */
        }

        &:active {
        transform: scale(0.95); /* 클릭 효과 */
        }
    }
}

#quatro-details-con {
   padding: 0;
   
    h2 {
        color: a.$main-blue;
    }

    h3 {
        color: a.$orange-color;
    }
}

#what-I-did-con {
    padding: 0;

    .what-I-did {
        #front-end, #logo-design, #web-design, #label-design, #promotional-video {
            display: flex;
            font-weight: 500;
        }
    }
}

#design-principal-box {
    display: flex;
}

#logo-specs-con {

    #logo-specs-img-box {
        img {
            background: cover no-repeat;
        }
    }

    p {
        font-weight: 500;
    }
}

#devices-con {
    #devices-con-img-box {
        background: cover no-repeat;
    }

    h3 {
        text-align: left;
        margin-bottom: 20px;
        color: a.$primary-color !important;
        span {
            color: a.$main-blue;
        }
    }

    

  .entry-point {
    color: a.$main-blue !important;
  }

  .entry-point-h3 {
    color: a.$orange-color !important;
  }
  p {
    font-weight: 500;
  }
}

/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 360px) {
  .blue-box {
    padding: 20px;
    margin-top: 20px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  } 
  
  #quatro-hero {
        margin-top: 5px;
        text-align: center;
        
        button {
            margin-top: 20px;
            font-size: 15px;
            }
        }
    
    
      #quatro-details-con {
        margin-top: 70px;
        display: block;
    
        h2{
          margin-bottom: 10px;
          font-size: 22px;
        }
    
        h3 {
          margin-bottom: 10px;
          font-size: 18px;
        }
    
        p {
          font-size: 15px;
        }
    
    
        #quatro-team-year {
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          column-gap: 100px;
    
        }
      }
    
      #what-I-did-con {
        padding: 0;
        h2 {
          font-size: 22px;
        }
    
        h2 {
            margin-top: 100px;
            margin-bottom: 20px;
        }
    
        .what-I-did {
            margin-bottom: 40px;
    
            #front-end, #logo-design, #web-design, #label-design, #promotional-video {
              div {
                font-size: 15px;
              }
                display: flex;
                font-weight: 500;
                column-gap: 40px;
            }
    
            img {
              max-width: 50px;
              max-height: 50px;
            }
        }
      }

    // Resarch Section
    .research-con {
      .needs-goals-con {
        margin-bottom: 30px;
      }
    }
    

    .emoji-des-con-desktop {
      display: none;
    }

    .emoji-des-con-mobile { 
      display: flex; 
      flex-direction: column;

      .emoji-con-mobile {
        display: flex;
        width: 100%;

        img {
          width: 25%;
        }
      }
    }

    .des-con {
      p {
        margin-bottom: 5px;
      }&:last-child {
        margin-bottom: 0;
      }
    }
    
    #design-principal-con {
    
      margin-top: 70px;
    
      #design-principal-box {
        flex-direction: column;
        row-gap: 30px;
      }
    }
    
    #logo-specs-con {
      margin-top: 80px;
    
      .logo-specs-detail {
        &:first-child {
          margin-bottom: 30px;
        }
        h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }
    
        p {
          font-size: 15px;
          padding: 0;
          margin: 0;
        }
      }
    }
    
    #devices-con {
      margin-top: 80px;
      
      h2 {
        margin-bottom: 20px;
      }
    
      h3 {
        font-size: 15px;
      }
    
      .entry-point {
        margin-bottom: 10px;
        margin-top: 30px;
      }
    
      .entry-point-h3  {
        margin-bottom: 10px;
      }
    }
    
    #wireframingSketches {
      margin-top: 80px;
    }
    
    #branding-video-con {
      margin-top: 80px;
    
      h2{
        margin-bottom: 10px;
      }
    
      h3 {
        margin-bottom: 10px;
        font-size: 18px;
      }
    
      p {
        font-size: 15px;
      }
    }
    
    #wireframingSketches, #branding-video-con {
      h2 {
        margin-bottom: 20px;
      }
    }
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
    #quatro-hero {
        margin-top: 5px !important;
        text-align: center;
        
        button {
            margin-top: 20px;
            font-size: 18px;
            }
        }
    
       #quatro-details-con {
        display: flex;
        column-gap: 90px;
    
        h2{
          margin-bottom: 10px;
          font-size: 22px;
        }
    
        h3 {
          margin-bottom: 10px;
          font-size: 19px;
        }
    
        p {
          font-size: 18px;
        }
    
    
        #quatro-team-year {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          column-gap: 50px;
    
        }
      }
    
      #what-I-did-con {
        padding: 0;
        h2 {
          font-size: 22px;
        }
    
        h2 {
            margin-top: 100px;
            margin-bottom: 40px;
        }
    
        .what-I-did {
            margin-bottom: 40px;
    
            #front-end, #logo-design, #web-design, #label-design, #promotional-video {
              div {
                font-size: 18px;
              }
                display: flex;
                font-weight: 500;
                column-gap: 40px;
            }
    
            #logo-design, #web-design, #label-design, #promotional-video {
              div {
                position: relative;
                top: 12px
              }
            }
    
            img {
              max-width: 50px;
              max-height: 50px;
            }
        }
      }
    
      // Research Section
      .emoji-des-con-desktop {
        display: block;
      }

      .emoji-des-con-mobile { display: none; }

      .emoji-con-mobile { display: none; }

      #design-principal-con {
    
        margin-top: 80px;
    
        h2 {
          margin-bottom: 40px;
        }
    
        #design-principal-box {
          margin-top: 20px;
          flex-direction: column;
          row-gap: 30px;
        
         .design-principal {
        
            padding: 20px;
        
            h3 {
              font-size: 18px;
              margin-bottom: 10px;
            }
        
            p {
              font-size: 18px;
              padding: 0;
              margin: 0;
            }
         }
        }
      }
    
      #logo-specs-con {
        margin-top: 80px;
    
        h2 {
          margin-bottom: 40px;
        }
    
        .logo-specs-detail {
          &:first-child {
            margin-bottom: 30px;
          }
          h3 {
            font-size: 18px;
            margin-bottom: 10px;
          }
      
          p {
            font-size: 18px;
            padding: 0;
            margin: 0;
          }
        }
      }
    
      #devices-con {
        margin-top: 80px;
      
        h3 {
          font-size: 18px;
        }
    
        .entry-point {
          margin-bottom: 15px;
          margin-top: 50px;
        }
      
        .entry-point-h3 {
          margin-bottom: 15px;
        }
      }
    
      #wireframingSketches {
        margin-top: 80px;
      }    
}

/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
    #quatro-hero {
        margin-top: 5px !important;
        text-align: center;
        
        button {
            margin-top: 20px;
            font-size: 19px;
            }
        }
    
      #quatro-details-con {
        padding: 0 20px;
        display: flex;
        column-gap: 100px;
    
        h2{
          margin-bottom: 10px;
          font-size: 24px;
        }
    
        h3 {
          margin-bottom: 10px;
          font-size: 22px;
        }
    
        p {
          font-size: 19px;
        }
    
        #quatro-team-year {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          column-gap: 70px;
    
        }
      }
    
      #what-I-did-con {
    
        margin-top: 80px;
    
        .what-I-did {
          margin-bottom: 40px;
    
          #front-end, #logo-design, #web-design, #label-design, #promotional-video {
            div {
              font-size: 19px;
            }
              display: flex;
              font-weight: 500;
              column-gap: 40px;
          }
    
          #logo-design, #web-design, #label-design {
            div {
              font-size: 19px;
              position: relative;
              top: 12px
            }
          }
    
          img {
            max-width: 50px;
            max-height: 50px;
          }
        }
      }
    
      // Research Section
      // emoji-con-desktop
      .emoji-des-con-desktop {
        display: block;
      }

      .emoji-des-con-mobile { display: none; }

      #design-principal-con {
    
        margin-top: 80px;
      
        #design-principal-box {
          margin-top: 20px;
          flex-direction: row;
          column-gap: 60px;
        
         .design-principal {
    
            width: 400px;
            padding: 30px 40px;
        
            h3 {
              font-size: 22px;
              margin-bottom: 20px;
            }
        
            p {
              font-size: 19px;
              padding: 0;
              margin: 0;
            }
         }
        }
      }
    
      #logo-specs-con {
        margin-top: 100px;
      
        .logo-specs-detail {
          &:first-child {
            margin-bottom: 30px;
          }
          h3 {
            font-size: 22px;
            margin-bottom: 10px;
          }
      
          p {
            font-size: 19px;
            padding: 0;
            margin: 0;
          }
        }
      }
    
      #devices-con {
        margin-top: 100px;
    
        p {
          font-size: 19px;
          margin-top: 10px;
        }
    
        .entry-point {
          margin-bottom: 20px;
          margin-top: 50px;
        }
      
        h3 {
          font-size: 20px;
        }
    
        .entry-point-h3 {
          margin-bottom: 20px;
        }
      }
      
      #wireframingSketches {
        margin-top: 100px;
      }    
}