@use '../abstracts' as a;

#logo-specs-con {
    // background-color: chocolate;

    #logo-specs-img-box {
        img {
            background: cover no-repeat;
        }
    }

    p {
        font-weight: 500;
    }
}

#label-design-con {
  // background-color: yellow;
  padding: 0;
}

#poster-can-con {
  // background-color: cadetblue;
  padding: 0;
}

#ux-ui-con {
  // background-color: tan;
  padding: 0;
}


/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 360px) {
  
  #label-design-con { margin-top: a.$inside-sec-margin-mobile; }
    
  #quatro-posters-con { margin-top: a.$inside-sec-margin-mobile; }

  #quatro-can-con { margin-top: a.$inside-sec-margin-mobile; }
    
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {

}

/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {

}