@use '../abstracts' as a;  // abstracts SCSS 파일을 'a' 네임스페이스로 사용

#thankyou-body {
  background-color: #D7F3F5;
}

.thank-you-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;

  .thank-you-message {
    text-align: center;
    color: a.$secondary-color;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    img {
      max-width: 100px;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      margin-top: 20px;
      color: a.$accent-color;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: a.$primary-color;
      font-weight: 900 !important;
      padding: 0 20px;
    }

    .home-button {
      display: inline-block;
      padding: 0.8rem 1.5rem;
      background-color: a.$main-blue; // 'a' 네임스페이스로 변수 사용
      color: a.$secondary-color;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-weight: 700 !important;

      &:hover {
        background-color: darken(a.$orange-color, 10%); // hover 효과 추가
      }
    }
  }
}
